.container {
    width: 80%;
    margin: auto;
}

.bar {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    gap: 1rem;
    border-bottom: 3px solid var(--clr-contrast);
    margin-bottom: 1rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.searchInput {
    min-width: 350px;
    text-align: left;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* font-family: var(--fnt-fam); */
    font-family: inherit;
}

.btn {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--clr-font);
    border-radius: 5px;
    background: var(--clr-contrast);
    color: var(--clr-font-contrast);
    font-family: inherit;
}

.list {
    background: lightgreen;
}

.searchBar p,
.buttons p {
    /* background: var(--clr-contrast); */
    color: var(--clr-font);
    padding: 1rem;
}

table {
    background: var(--clr-background);
    width: 100%;
    font-size: 1rem;
}

tr {
    text-align: left;
}

th {
    padding-bottom: 0.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--clr-contrast);
    background: var(--clr-background);
    text-align: left;
}

td {
    border-bottom: 1px solid rgb(214, 214, 243);
}

.columnName {
    font-weight: 700;
    padding: 1.5rem 0;
    border-bottom: 10px solid var(--clr-contrast);
    margin-bottom: 1px;
}

.productForm {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    /* font-family: var(--fnt-fam); */
    font-family: inherit;
}

.productsFormTitle {
    justify-content: center;
    background: none;
    margin-bottom: 2rem;
    text-decoration: underline;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.productsFormInput {
    display: flex;
    text-align: left;
    align-items: baseline;
    /* font-family: var(--fnt-fam); */
    font-family: inherit;
}

.productFormInput {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px solid var(--clr-contrast);
    padding: 0.5rem;
    font-size: 1rem;
}

.productCategory {
    padding: .45rem .85rem;
    font-family: inherit;
    font-size: 1rem;
}

.productSelect {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.productSelectOption {
    width: 100%;
    text-align: left;
    font-size: 0.85rem;
    color: var(--clr-font);
    font-size: .85rem;
}

.productSelectOption:hover {
    background: var(--clr-contrast);
    color: var(--clr-font-contrast);
    padding: 0.25rem 0;
}

.btnModal {
    background: var(--clr-contrast);
    color: var(--clr-font-contrast);
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--clr-font);
    margin-top: 1rem;
    font-family: inherit;
}

.extid {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: var(--clr-font);
    font-size: 1rem;
    background: yellow;
}

.labels {
    margin-right: 1rem;
    background: yellow;
}