.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  /* font-family: var(--fnt-fam); */
  background: red;
}

.checkout-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  background: none;
  text-decoration: underline;
}

.checkout-table {
  width: fit-content;
  border: 1px solid var(--clr-contrast);
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.checkout-analysis {
  width: fit-content;
  border: 1px solid var(--clr-contrast);
  border-radius: 5px;
  padding: 5px 20px;
  height: fit-content;
  /* background-color: lightcyan; */
}

.checkout-markets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid var(--clr-contrast); */
  border: 1px solid lightgrey;

  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: rgb(253, 253, 253);
  box-shadow: 3px 2px lightsteelblue, 0.19em 0.14em 0 var(--clr-contrast);
}

.checkout-market {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--clr-contrast);
  border-radius: 5px;
  /* margin-bottom: 0.5rem; */
  margin-bottom: 1rem;
  background-color: white;
}

.checkout-market h3 {
  margin: 0.25rem 0;
}

.checkout-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid var(--clr-contrast); */
  border: 1px solid lightgrey;

  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0.5rem;
  background-color: white;
  box-shadow: 3px 2px lightsteelblue, 0.19em 0.14em 0 var(--clr-contrast);
  box-shadow: 3px 2px lightsteelblue, 0.19em 0.14em 0;
}

.checkout-titles {
  margin: 1rem 0;
}

.difference {
  background-color: var(--clr-contrast);
  /* background-color: orange; */
  border: 1px solid lightgrey;

  color: white;
  font-size: 1.25rem;
  margin: 1rem;
}

.checkout-btn {
  background-color: orange;
  padding: 0.5rem;
  font-weight: 700;
  margin: 0;
  margin-top: 1rem;
}