h1 {
  font-size: 1rem;
  background: lightgrey;
}

.header {
  width: 95%;
  height: 130px;
  display: flex;
  flex-direction: row;
  color: var(--clr-font);
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background: var(--clr-background);

  /* position: fixed; */
  margin: auto;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: row;
  background: var(--clr-contrast);
  color: var(--clr-font-contrast);
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.maincontainer {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(191, 189, 189, 0.2);
}

.navbarcontainer,
.logincontainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0;
}
.navbarlist,
.loginlist {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.25rem;
  align-items: center;
}

ul {
  height: fit-content;
}

li {
  margin: 0.5rem 0.5rem;
  color: var(--clr-font);
  font-size: var(--fnt-menu);
}

li:hover {
  border-bottom: 4px solid var(--clr-contrast);
  cursor: pointer;
}

button {
  border: none;
  background: none;
  font-family: var(--fnt-fam);
  color: var(--clr-font);
}

@media screen and (min-width: 1400px) {
  .header {
    width: 100%;
  }
  .maincontainer {
    width: 80%;
  }
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  /* .header {
    width: 100%;
  } */
  .maincontainer {
    width: 70%;
  }
  /* .footer {
    width: 100%;
  } */
}

@media screen and (min-width: 2000px) {
  /* .header {
    width: 100%;
  } */
  .maincontainer {
    width: 60%;
  }
  /* .footer {
    width: 100%;
  } */
}
@media screen and (min-width: 3000px) {
  /* .header {
    width: 100%;
  } */
  .maincontainer {
    width: 50%;
  }
  /* .footer {
    width: 100%;
  } */
}
