.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.auth-btn {
  color: var(--clr-font);
  border: none;
  margin: 0 0.5rem;
  font-size: var(--fnt-menu);
  cursor: pointer;
}

.auth-btn:hover {
  border-bottom: 4px solid var(--clr-contrast);
  cursor: pointer;
}

.auth-title {
  margin-top: 2rem;
  background: yellow;
}

.join-btn {
  display: flex;
  flex-direction: row;
}

.p-user {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
