.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 50%;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background: #fff;
  border-radius: 10px;
  /* margin-top: -12rem; */
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
}

.modal.is-open {
  display: flex;
}

h3 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
