.product-container {
	/* display: flex; */
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: max-content;
}

.products-title {
	justify-content: center;
	background: none;
	margin-bottom: 2rem;
	text-decoration: underline;
	margin-top: 1rem;
}

.products-form {
	display: flex;
	flex-direction: column;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 3rem;
}

.products-input {
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
}

.products-input label {
	width: 100%;
	font-size: 0.85rem;
}

.products-input input {
	width: 100%;
	/* margin-top: 0.5rem; */
	border: 1px solid var(--clr-contrast);
}

.products-select {
	width: 100%;
	text-align: left;
	font-size: 0.85rem;
	margin-bottom: 0.75rem;
	margin-top: 0.5rem;
	padding: 0.25rem 0;
}

.products-select:focus {
	background: var(--clr-contrast);
	color: var(--clr-font-contrast);
	width: 100%;
	font-size: 0.85rem;
	padding: 0.25rem 0;
	line-height: 1rem;
}

.product-p {
	/* width: max-content; */
	text-align: left;
	font-size: 1rem;
	/* margin-right: 1rem; */
}

.products-btn {
	width: fit-content;
	margin-top: 1rem;
	justify-content: center;
	padding: 0.35rem 0.75rem;
	margin-bottom: 2rem;
}

table {
	margin: auto;
	width: 90%;
	table-layout: fixed;
	background: none;
	border-collapse: collapse;
	margin-bottom: 2rem;
}

/* thead {
	background: var(--clr-contrast);
	color: var(--clr-font-contrast);
} */

tbody {
	display: inline-table;
}

th {
	padding: 0.5rem;
}

tr {
	width: 100%;
	background: var(--clr-font-contrast);
	color: var(--clr-contrast);
	/* text-align: center; */
}

td {
	padding: 0.5rem;
	margin: 0;
	/* border-top: 1px solid var(--clr-contrast); */
	border-bottom: 1px solid var(--clr-contrast);
	/* text-align: left; */
	padding-right: 1rem;
}

.products-td1,
.products-td2,
.products-td3,
.products-td4,
.products-td5 {
	text-align: left;
	font-size: 0.9rem;
	/* width: 100%; */
	/* background: yellow; */
}

.products-td5 {
	text-align: center;
}

.products-td-btn {
	margin: 0;
}

.products-col-title {
	/* width: 100%; */
	background: var(--clr-contrast);
	color: var(--clr-font-contrast);
	border: none;
	font-size: 0.75rem;
	text-align: left;
}
