* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
  background-color: var(--clr-background);
  color: var(--clr-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  /* width: 50%; */
  padding: 0.15rem 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--clr-font);
  border-radius: 5px;
  background: var(--clr-contrast);
  color: var(--clr-font-contrast);
}

.btn:hover {
  background: var(--clr-font-contrast);
  color: var(--clr-contrast);
}
