* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-style: 16px;
	background-color: var(--clr-background);
	color: var(--clr-font);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
